
/***RESET***/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: "Roboto"; 
    /* font-family: 'Open Sans', sans-serif; */
}

html, body {
    height: 100%;
}

/***Utilities***/

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.clear{
    clear:both;
}

.sticky{
    background: rgb(255,255,255)!important;
    background: linear-gradient(90deg, rgba(220,220,220,1) 0%, rgba(204,204,204,1) 100%)!important;
    color: black;
    height: 80px!important;
    z-index: 100;
}
/***Page - Home***/

/***HEADER***/
header.header-normal{
    background: transparent;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.6s;
}

header.header-normal > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.text-wrapper{
    display: flex;
    align-items: center;
    font-size: 1rem;
    height: 80px;
}

div.text-wrapper span{
    color: red;
    font-weight: bold;
    font-style: italic;
}

div.text-wrapper h3{
    font-weight: normal;
}

nav.nav-desktop{
    margin-top: 10px;
} 

nav.nav-desktop ul{
    padding-left: 0!important;
    list-style-type: none;
}

nav.nav-desktop ul li{
    display: inline-block;
    margin: 0 5px;
}

nav.nav-desktop li a{
    text-decoration: none;
    padding: 10px;
    color: white;
    font-size: 1.2rem;
}

.header-normal.sticky nav.nav-desktop li a{
    text-decoration: none;
    padding: 10px;
    color: black;
    font-size: 1.2rem;
}

.header-normal.sticky nav.nav-desktop li a:hover{
    text-decoration: underline;
}

nav.nav-desktop li a:hover{
    text-decoration: underline;
    color: red;
}

div.text-logo{
    font-size: 6rem;
    letter-spacing: -20px;
    margin-right: 25px;
}

.fix-nav-mobile{
    position: relative;
    padding: 0;
}

nav.nav-mobile{
    background: rgba(91,91,91,1);
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    border: 1px solid black;
    display: none;
    max-width: 100%;
}

nav.nav-mobile ul{
    max-width: 100%;
    margin: 0;
    padding: 0;
}

nav.nav-mobile ul li{
    max-width: 100%;
    list-style-type: none;
    text-align: center;
    height: 40px;
}

nav.nav-mobile ul li a{
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
}

nav.nav-mobile ul li a:hover{
    background: rgba(255, 255, 255, 0.3);
}

#nav-trigger{
    display: none;
    background: #ccc;
    border-radius: 10px;
    padding: 10px;
    opacity: 1;
    margin: 10px 10px 0px 0px;
}

#nav-trigger svg{
    width: 30px;
    height: 30px;
}

/***TOPO***/
section.top{
    background: black;
    /* background: url('images/Bem-Vinda-768x614.png'); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    color: white;
    width: 100%;
    height: 100vh;
}

.text-top{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-agendar{
    width: 100%;
    font-size: 2rem;
    background-color: green;
    color: white;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.btn-agendar:hover{
    background-color: green;
    color: white;
}

.interesse{
    background: transparent;
    border: 0;
    width: 200px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    top: -90px;
    left: 50%;
    transform: translateX(-50%);
    cursor: initial;
}

.interesse p{
    animation-name:arrow-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.interesse svg{
    width: 30px;
    height: 30px;
}

.text-top h1 mark{
    background-color: rgb(12, 250, 12);
    color: white;
    text-shadow: 1px 1px 2px #292928;
    border-radius: 15px;
}

/***I-Section***/

/***D-Section***/
.D-section{
    padding: 80px 0;
    background-color: #292928;
}

.D-section .D-section-text p{
    font-size: 1.2rem;
}

.D-section .D-section-text ol{
    font-size: 1.2rem;
    margin-left: 30px;
}

.D-section .D-section-text ol li{
    line-height: 40px;
}

/***Cards-Section***/
.section-beneficios{
    padding: 80px 0;
}

.beneficios-text-wrapper{
    max-width: 30%;
    display: flex;
    align-items: center;
    margin: 20px 1.5%;
    flex-direction: column;
    justify-content: center;
    box-shadow: 3px 3px 10px rgb(163, 163, 163);
    float: left;
    height: 300px;
    background: rgb(251,148,63);
    background: radial-gradient(circle, rgba(251,148,63,1) 30%, rgba(252,70,107,1) 100%);
    border-radius: 25px;
}

.beneficios-text-wrapper p{
    text-align: center;
    font-size: 1.2rem;
    margin: 15px 0px 0px 0px;
    color: white;
    padding: 0 2%;
}

.beneficios-text-wrapper svg{
    min-width: 40px;
    height: 40px;
    margin-right: 10px;
}

.section-action{
    padding: 60px 0;
    background: rgb(251,158,38);
    background: linear-gradient(90deg, rgba(251,158,38,1) 37%, rgba(254,224,156,1) 90%);    
}

.section-action img{
    border-radius: 1rem;
}

.section-action .action-text-wrapper{
    color: white;
    height: 100%;
    margin-top: 40px;
    font-size: 1.4rem;
    text-shadow: 1px 1px 5px black;
}

.btn-section-action{
    margin: 10px auto;
    width: 90%;
    max-width: 600px;
    background: green;
    color: white;
    height: 80px;
    font-size: 1.8rem;
    border-radius: 50px;
    opacity: 0.9;
    line-height: 70px;
    transition: 0.6s;
}

.btn-section-action:hover{
    background: green;
    color: white;
    opacity: 1;
}

.btn-section-action:active{
    background: green;
    color: white;
    position: relative;
    top: 1px;
}

/***Section Seguro***/

.seguro-title{
    background: blue;
    color: white;
    padding: 10px 0;
}

.seguro-text-wrapper{
    font-size: 1.1rem;
    padding: 40px 0;
    
}

.seguro-img-wrapper{
    width: 100%;
}

.seguro-img-wrapper img{
    display: block;
    margin: 30px auto 0px auto;
    width: 100%;
}

/***Section Perguntas***/
section.perguntas{
    padding: 60px 0;
}

.details-wrapper{
    margin: 0 auto;
    width: 100%;
    font-size: 1.4rem;
}

.details-wrapper details{
    margin: 30px 0;
}

.details-wrapper details p{
    margin-left: 30px;
}

/***Footer***/
footer{
    background: black;
    padding: 30px 0;
    color: white;
}

footer > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div.text-logo{
    font-size: 6rem;
    letter-spacing: -20px;
    margin-right: 25px;
    color: white;
}

/***Page - Contato***/
.contato-header{
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%)!important;
}
.rede-sociais{
    padding: 100px 0;
}

.all-social-media{
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.line{
    width: 200px;
    margin: 0 auto;
    height: 3px;
    background: orangered;
}

.all-social-media svg{
    width: 60px;
    height: 60px;
}

/***ANIMATIONS***/
@keyframes arrow-animation{
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(0px);
    }

    75%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }

    100%{
        transform: scale(1);
    }
}

/***RESPONSIVE***/

@media screen and (max-width:768px){
    .nav-desktop{
        display: none;
    }

    #nav-trigger{
        display: block;
    }

    footer > .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    footer .nav-desktop ul{
        width: 100%;
    }

    /* footer .nav-desktop ul li{
        display: block;
    } */

    div.text-logo{
        font-size: 4rem;
        letter-spacing: -15px;
        margin-right: 15px;
    }

    .sticky{
        display: none;
    }

    div.text-wrapper{
        justify-content: center;
    }

    .btn-section-action{
        font-size: 1.3rem;
    }

    .beneficios-text-wrapper{
        max-width: 46%;
    }

}

@media screen and (max-width: 500px){
    .btn-section-action {
        font-size: 1.1rem;
    }

    .beneficios-text-wrapper{
        max-width: 100%;
    }

    .btn-agendar{
        width: 100%;
        font-size: 1.3rem;
        background-color: green;
        color: white;
        animation-name: pulse;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    .text-top h1{
        font-size: 1.5rem!important;
        margin: 0;
    }

    .interesse{
        background: transparent;
        border: 0;
        width: 200px;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        top: -90px;
        left: 50%;
        transform: translateX(-50%);
        cursor: initial;
    }
}
